
#Eclipse
.settings
.classpath
.project

#Maven
target
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
*.orig
*.rej

#Java
*.class
cobertura.ser

*.orig
ReleaseNotes.txt

# Github markdown
*.md.html
